<!DOCTYPE html>
<html ng-app="ProspectApp">
  <head>
    <title>Ranked Prospect Follow Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  </head>
  <body ng-controller="ProspectController">
    <div class="container">
      <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
          <h1>Daily Prospect List</h1>
          <br>
          <form role="form" ng-submit="getResults()">
            <div class="form-group">
              <select name="property" class="form-control" id="property-dropdown" placeholder="Select a property" style="max-width: 300px;" ng-model="property" required>
                <option value="prop1">Property 1</option>
                <option value="prop2">Property 2</option>
                <option value="prop3">Property 3</option>
                <option value="prop4">Property 4</option>
              </select>
            </div>
            {% raw %}
              <button type="submit" class="btn btn-primary" ng-disabled="loading">{{ refreshButtonText }}</button>
            {% endraw %}
          </form>
          <div class="alert alert-danger" role="alert" ng-show='propertyerror'>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            <span>There was an error refreshing your prospects dashboard.<br>
            Try refreshing the page and trying again.
            </span>
          </div>
        </div>
        <div class="col-sm-5 col-sm-offset-1">
          <h2>Prospects for Follow Up</h2>
          <br>
          <div id="prospects">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Phone</th>
                  <th>Email</th>
                  <th>Transcript</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="element in prospects">
                  {% raw %}
                  <td>{{element[0]}}</td>
                  <td>{{element[1]}}</td>
                  <td>{{element[2]}}</td>
                  <td>{{element[3]}}</td>
                  {% endraw %}
                </tr>
              </tbody>
            </table>
          </div>
          <img class="col-sm-3 col-sm-offset-4" src="{{ url_for('static', filename='spinner.gif') }}" ng-show="loading">
        </div>
      </div>
      <br>
      <prospect-chart data="prospects"></prospect-chart>
    </div>
    <br><br>
    <!-- scripts -->
    <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </body>
</html>
